@import "../../App.scss";

a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;

    &:hover{
        background-color: $secondary-color;
        color: black;
        transition: 0.3s;
    }
}